@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb));
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
}

/* Typography */
.mono {
  font-family: 'JetBrains Mono', monospace;
}

/* Brutalist design elements */
.brutalist-border {
  border: 3px solid black;
}

.brutalist-shadow {
  box-shadow: 4px 4px 0px 0px black;
}

.brutalist-button {
  @apply bg-black text-white px-6 py-3 font-bold uppercase tracking-wide border-3 border-black;
  transition: all 0.1s ease;
}

.brutalist-button:hover {
  @apply bg-white text-black;
  box-shadow: 4px 4px 0px 0px black;
}

.brutalist-input {
  @apply border-3 border-black px-4 py-3 bg-white text-black font-mono;
}

.brutalist-input:focus {
  @apply outline-none;
  box-shadow: 4px 4px 0px 0px black;
}

/* Utility classes */
.line-clamp-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
